.tile {
    width: 100px;
    height: 100px;

}

.black-tile {
    background-color: darkcyan;
}

.white-tile {
    background-color: azure;
}

.available-tile {
    background-color: red;
}

.pawnPromotion-tile {
    background-color: blue;
}
